/* Aryan's css mess. Landing-page */


/*---------------------Header--section--------------------------*/
header {
    display: flex;           
    align-items: center;            
    padding: 0 2rem;                
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto';
}

.header-logo-links {
    margin-left: auto;              
    display: flex;                  
    gap: 0.1rem;                      
}

.header-links {
    background-color: 1f2937;       
    padding: 0.5rem 1rem;           
    text-decoration: none;         
    color: inherit;                 
    font-weight: bold;
    border-radius: 50px;
}
.header-links:hover {
    background-color: #9eeede;
}
/*------------------Head-section-ended-------------------------*/

/*--------------------Section-Hero------------------------------*/

.section--hero{
    background-color: #1f2937;
    font-family: 'Roboto';
    padding: 2rem;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;      /* stacks on narrow screens */
    gap: 2rem;
  }

#main-hero{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    padding: 0 2rem;
}

#supporting-hero{
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 2rem;
}

#sign-up-btn{
    display: flex;
    background-color: #3882f6;
    color: white;
    padding: 0.6rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 4%;
}

#sign-up-btn:hover{
    background-color: #9eeede;
}

#daytona{
    width: 300px;
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 25px;
}
/*-----------------section-hero-ended-----------------------*/
/*------------------gallery---------------------------------*/

.section--hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;      
    gap: 2rem;
    padding: 0.5rem 1.2rem;
}

#duke{
    width: 200px;
    height: auto;
    border-radius: 25px;
    margin: 10px;
}

#interceptor{
    width: 200px;
    height: auto;
    border-radius: 25px;
    margin: 10px;
}


#bike{
    width: 200px;
    height: auto;
    border-radius: 25px;
    margin: 10px;
}
/*------------------gallery-ended---------------------------------*/
/*------------------footer---------------------------------*/

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto';
    padding: 1.5rem;
    text-align: center;
}

.footer-content{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links{
  color: inherit;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
  }
